body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #1d1d1d;
    text-align: center;
}
h1 {
    margin-top: 300px;
    font-size: 50px;
}
.lang_btn {
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 20px;
}
.lang {
    width: fit-content;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #4d4c4c;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}
.deactive {
    display: none;
}
